<!DOCTYPE html>
<html lang="en">
<!-- EJS是一个javascript模板库，用来从json数据中生成HTML字符串 -->
<head>
  <!-- <% include 嵌套模板路径 %> -->
  <% include ./common/header.ejs %>
</head>

<body>
  <% include ./common/nav.ejs %>
</body>

</html>